<div class="container">
<h2>About me</h2>
<p>I am currently a Computer Science student studying at Carleton University in Ottawa aspiring to become a professional software developer. The intent of this site is to provide a place for me to publish my progress towards my aspiration and share my struggles and successes. I encourage you to browse around and feel free to contact me with any questions or suggestions.</p>
</div>
<div class="container">
<h3>My Toolbox</h3>
<div style="width:100%;float:left;">
  <h4>Languages</h4>
  <div style="width:50%;float:left;">
    <h5>Experienced with</h5>
    <ul style="list-style-type: none;">
      <li><span class="pict-prog-ccplusplus"> C and C++</span></li>
      <li><span class="pict-prog-nodejs02"> NodeJS</span></li>
      <li><span class="pict-prog-coffeescr"> CoffeeScript</span></li>
      <li><span class="pict-prog-js02"> JavaScript</span></li>
      <li><span class="pict-html5-01"> / <span class="pict-css3-01"> Web</span></li>
      <li><span class="pict-prog-java"> Java</span></li>
      <li><span class="pict-prog-bash02"> Bash</span></li>
      <li><span class="pict-dbs-mysql"> SQL</span></li>
    </ul>
  </div>
  <div style="width:50%;float:left;">
    <h5>Developing skills</h5>
    <ul style="list-style-type: none;">
      <li><span class="pict-prog-ruby"> Ruby</span></li>
      <li><span class="pict-prog-rails"> Rails</span></li>
      <li><span class="pict-prog-jquery"> jQuery</span></li>
      <li><span class="pict-prog-python"> Python</span></li>
      <li><span class="pict-dbs-mongodb"> MongoDB</span></li>
      <li><span class="pict-dbs-sqlite"> SQLite</span></li>
      <li><span class="pict-prog-php01"> PHP</span></li>
      <li><span class="pict-prog-drupal"> Drupal</span></li>
    </ul>
  </div>
</div>
<div style="width:100%;float:left;">
  <div style="width:50%;float:left;">
    <h4>APIs</h4>
    <ul style="list-style-type: none;">
      <li><span class="fa fa-twitter"> Twitter</span></li>
      <li><span class="pict-google"> Google Maps JS v3</span></li>
    </ul>
  </div>
  <div style="width:50%;float:left;">
  <h4>Source Control</h4>
    <ul style="list-style-type: none;">
      <li><span class="pict-vc-git"> Git</span></li>
      <li><span class="pict-vc-svn"> SVN</span></li>
    </ul>
    <h4>Operating Systems</h4>
    <ul style="list-style-type: none;">
      <li><span class="pict-os-apple-dark"> OS X</span></li>
      <li><span class="pict-os-linux_1_"> Linux</span></li>
      <li><span class="pict-os-win-04"> Windows</span></li>
    </ul>
  </div>
</div>
<nav><p><a href="/resume/resume.pdf">View my resume...</a></p></nav>
</div>
<div class="container" style="float:left;padding-bottom: 10px;">
  <h2>Coding Projects</h2>
  <p>
    I love programming - everything about it. I can hack the entire stack, front end mobile and web UI and the back end tech necessary to power a modern web application. I enjoy learning new languages and frameworks while also improving my skill in languages I already have experience with. Here are some projects that I have created, either on my own time or during my studies.
  </p>
  <nav><a href="/coding">Coding Projects...</a></nav>
</div>
<div class="container" style="float:left;padding-bottom:10px;width:100%;">
  <h2>Tweets</h2>
  <a href="https://twitter.com/martin_gingras" class="twitter-follow-button" data-show-count="true">Follow @martin_gingras</a>
  <a class="twitter-timeline" height="600" href="https://twitter.com/martin_gingras" data-widget-id="414111266525818880" data-border-color="#cccccc" data-chrome="noheader">Tweets by @martin_gingras</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</div>


<!-- add2home -->
<script type="text/javascript" src="/js/add2home.js"></script>