<html>
<head>
  {% include head.html %}
  <style type="text/css">
  <!--
  span.cls_004{font-family:Arial,serif;font-size:8px;color:rgb(69,83,87);font-weight:normal;font-style:normal;text-decoration: none}
  div.cls_004{font-family:Arial,serif;font-size:8px;color:rgb(69,83,87);font-weight:normal;font-style:normal;text-decoration: none}
  span.cls_005{font-family:Arial,serif;font-size:15px;color:rgb(68,96,110);font-weight:normal;font-style:normal;text-decoration: none}
  div.cls_005{font-family:Arial,serif;font-size:15px;color:rgb(68,96,110);font-weight:normal;font-style:normal;text-decoration: none}
  span.cls_002{font-family:Arial,serif;font-size:9px;color:rgb(117,129,133);font-weight:normal;font-style:normal;text-decoration: none}
  div.cls_002{font-family:Arial,serif;font-size:9px;color:rgb(117,129,133);font-weight:normal;font-style:normal;text-decoration: none}
  span.cls_003{font-family:Arial,serif;font-size:9px;color:rgb(68,96,110);font-weight:normal;font-style:normal;text-decoration: none}
  div.cls_003{font-family:Arial,serif;font-size:9px;color:rgb(68,96,110);font-weight:normal;font-style:normal;text-decoration: none}
  span.cls_006{font-family:Arial,serif;font-size:8px;color:rgb(68,96,110);font-weight:normal;font-style:normal;text-decoration: none}
  div.cls_006{font-family:Arial,serif;font-size:8px;color:rgb(68,96,110);font-weight:normal;font-style:normal;text-decoration: none}
  span.cls_007{font-family:Arial,serif;font-size:10px;color:rgb(68,96,110);font-weight:normal;font-style:italic;text-decoration: none}
  div.cls_007{font-family:Arial,serif;font-size:10px;color:rgb(68,96,110);font-weight:normal;font-style:italic;text-decoration: none}
  span.cls_008{font-family:Arial,serif;font-size:10px;color:rgb(68,96,110);font-weight:normal;font-style:normal;text-decoration: none}
  div.cls_008{font-family:Arial,serif;font-size:10px;color:rgb(68,96,110);font-weight:normal;font-style:normal;text-decoration: none}
  span.cls_009{font-family:Arial,serif;font-size:8px;color:rgb(117,129,133);font-weight:normal;font-style:normal;text-decoration: none}
  div.cls_009{font-family:Arial,serif;font-size:8px;color:rgb(117,129,133);font-weight:normal;font-style:normal;text-decoration: none}
  -->
  </style>
</head>
<body>
  <div class="homeButton">
    <br>
    <a style="color:white;" href="/"><i class="icon-home icon-3x"></i></a>
  </div>
<div style="position:relative;width:100%;">
<div style="position:absolute;left:36.00px;top:43.00px" class="cls_004"><span class="cls_004">E: MARTIN@MAGINGRAS.COM</span></div>
<div style="position:absolute;left:473.41px;top:43.00px" class="cls_004"><span class="cls_004">LINKEDIN.COM/IN/MARTINPGINGRAS</span></div>
<div style="position:absolute;left:36.00px;top:55.00px" class="cls_004"><span class="cls_004">T: +1.613.850.2565</span></div>
<div style="position:absolute;left:243.86px;top:48.00px" class="cls_005"><span class="cls_005">MARTIN GINGRAS</span></div>
<div style="position:absolute;left:506.48px;top:55.00px" class="cls_004"><span class="cls_004">GITHUB.COM/MGINGRAS</span></div>
<div style="position:absolute;left:70.93px;top:98.00px" class="cls_002"><span class="cls_002">PROFILE</span></div>
<div style="position:absolute;left:144.00px;top:98.00px" class="cls_003"><span class="cls_003">I am currently studying Computer Science at Carleton University to become a professional software de-</span></div>
<div style="position:absolute;left:144.00px;top:107.00px" class="cls_003"><span class="cls_003">veloper</span></div>
<div style="position:absolute;left:60.86px;top:129.00px" class="cls_002"><span class="cls_002">EDUCATION</span></div>
<div style="position:absolute;left:144.00px;top:130.00px" class="cls_006"><span class="cls_006">CARLETON UNIVERSITY</span></div>
<div style="position:absolute;left:144.00px;top:137.00px" class="cls_007"><span class="cls_007">Ottawa, ON — Honors Computer Science: Software Engineering Stream, Co-op Option, 2015 (expected)</span></div>
<div style="position:absolute;left:36.00px;top:160.00px" class="cls_002"><span class="cls_002">WORK EXPERIENCE</span></div>
<div style="position:absolute;left:144.00px;top:160.00px" class="cls_003"><span class="cls_003">WIRELESS DATA APPLICATION DEVELOPER</span></div>
<div style="position:absolute;left:144.00px;top:168.00px" class="cls_007"><span class="cls_007">BlackBerry; Ottawa, ON</span></div>
<div style="position:absolute;left:411.28px;top:168.00px" class="cls_007"><span class="cls_007">January 2013 - Present</span></div>
<div style="position:absolute;left:144.00px;top:180.00px" class="cls_008"><span class="cls_008">• Worked on embedded software for wireless over-the-air protocols including CDMA (1xRTT</span></div>
<div style="position:absolute;left:153.00px;top:190.00px" class="cls_008"><span class="cls_008">and EVDO), GSM and UMTS (including HSPA)</span></div>
<div style="position:absolute;left:144.00px;top:203.00px" class="cls_008"><span class="cls_008">• Updated and developed features using C in the radio resource manager for both in market</span></div>
<div style="position:absolute;left:153.00px;top:213.00px" class="cls_008"><span class="cls_008">and upcoming BlackBerry 10 devices</span></div>
<div style="position:absolute;left:144.00px;top:226.00px" class="cls_008"><span class="cls_008">• Wrote internal scripts in Ruby to determine appropriate pre-submit tests for code changes</span></div>
<div style="position:absolute;left:153.00px;top:236.00px" class="cls_008"><span class="cls_008">based on previous submissions</span></div>
<div style="position:absolute;left:144.00px;top:259.00px" class="cls_003"><span class="cls_003">BUSINESS INTELLIGENCE TECHNICAL ANALYST</span></div>
<div style="position:absolute;left:144.00px;top:267.00px" class="cls_007"><span class="cls_007">IBM; Ottawa, ON</span></div>
<div style="position:absolute;left:393.84px;top:267.00px" class="cls_007"><span class="cls_007">May 2012 - December 2012</span></div>
<div style="position:absolute;left:144.00px;top:279.00px" class="cls_008"><span class="cls_008">• Provided technical software support to Fortune 1000 companies around the world for the</span></div>
<div style="position:absolute;left:153.00px;top:289.00px" class="cls_008"><span class="cls_008">Cognos Business Intelligence product suite</span></div>
<div style="position:absolute;left:144.00px;top:302.00px" class="cls_008"><span class="cls_008">• Solved problems regarding admin and security, databases, report design, and web servers on</span></div>
<div style="position:absolute;left:153.00px;top:312.00px" class="cls_008"><span class="cls_008">a variety of  operating systems</span></div>
<div style="position:absolute;left:144.00px;top:325.00px" class="cls_008"><span class="cls_008">• Conducted live remote-assistance to view and control client’s desktop and work hand-in-</span></div>
<div style="position:absolute;left:153.00px;top:335.00px" class="cls_008"><span class="cls_008">hand with customers in order to resolve their issues</span></div>
<div style="position:absolute;left:144.00px;top:358.00px" class="cls_003"><span class="cls_003">LIFEGUARD/SWIM INSTRUCTOR</span></div>
<div style="position:absolute;left:144.00px;top:366.00px" class="cls_007"><span class="cls_007">Beechwood Pools; Waterloo ON</span></div>
<div style="position:absolute;left:390.11px;top:366.00px" class="cls_007"><span class="cls_007">May - September 2010/2011</span></div>
<div style="position:absolute;left:144.00px;top:378.00px" class="cls_008"><span class="cls_008">• Helped patrons of  all ages and skill levels develop their strokes and lifesaving abilities</span></div>
<div style="position:absolute;left:144.00px;top:391.00px" class="cls_008"><span class="cls_008">• Remained attentive for long periods of  time and responded quickly to emergency situations</span></div>
<div style="position:absolute;left:144.00px;top:404.00px" class="cls_008"><span class="cls_008">• Instructed and guided many individuals through the proper procedure during rescues</span></div>
<div style="position:absolute;left:36.00px;top:427.00px" class="cls_002"><span class="cls_002">OTHER EXPERIENCE</span></div>
<div style="position:absolute;left:144.00px;top:427.00px" class="cls_003"><span class="cls_003">FREELANCE SOFTWARE DEVELOPER</span></div>
<div style="position:absolute;left:144.00px;top:436.00px" class="cls_007"><span class="cls_007">magingras.com; Ottawa ON</span></div>
<div style="position:absolute;left:443.33px;top:436.00px" class="cls_007"><span class="cls_007">2010-Present</span></div>
<div style="position:absolute;left:144.00px;top:448.00px" class="cls_008"><span class="cls_008">• Created websites and projects with a variety of  languages and tools</span></div>
<div style="position:absolute;left:144.00px;top:461.00px" class="cls_008"><span class="cls_008">• Wrote websites with both dynamic and static content, using current web technologies and</span></div>
<div style="position:absolute;left:153.00px;top:471.00px" class="cls_008"><span class="cls_008">various scripting types</span></div>
<div style="position:absolute;left:144.00px;top:484.00px" class="cls_008"><span class="cls_008">• Coded using current programming principles and techniques including MVC, inheritance,</span></div>
<div style="position:absolute;left:153.00px;top:494.00px" class="cls_008"><span class="cls_008">and recursion</span></div>
<div style="position:absolute;left:36.00px;top:516.00px" class="cls_002"><span class="cls_002">ORGANIZATIONS</span></div>
<div style="position:absolute;left:144.00px;top:516.00px" class="cls_003"><span class="cls_003">COUNCILOR - COMPUTER SCIENCE REPRESENTATIVE</span></div>
<div style="position:absolute;left:144.00px;top:525.00px" class="cls_007"><span class="cls_007">Carleton University Students’ Association; Ottawa, ON</span></div>
<div style="position:absolute;left:409.06px;top:525.00px" class="cls_007"><span class="cls_007">February 2013 - Present</span></div>
<div style="position:absolute;left:144.00px;top:537.00px" class="cls_008"><span class="cls_008">Represent all CS students interests on Carleton’s student association, which is responsible for</span></div>
<div style="position:absolute;left:144.00px;top:547.00px" class="cls_008"><span class="cls_008">many services, societies, and events on campus.</span></div>
<div style="position:absolute;left:144.00px;top:569.00px" class="cls_003"><span class="cls_003">COUNCILOR - COMPUTER SCIENCE REPRESENTATIVE</span></div>
<div style="position:absolute;left:144.00px;top:578.00px" class="cls_007"><span class="cls_007">Carleton Science Students’ Society; Ottawa, ON</span></div>
<div style="position:absolute;left:409.06px;top:578.00px" class="cls_007"><span class="cls_007">February 2013 - Present</span></div>
<div style="position:absolute;left:144.00px;top:600.00px" class="cls_003"><span class="cls_003">EXECUTIVE - DIRECTOR EXTERNAL</span></div>
<div style="position:absolute;left:144.00px;top:609.00px" class="cls_007"><span class="cls_007">Carleton Computer Science Society; Ottawa, ON</span></div>
<div style="position:absolute;left:408.19px;top:609.00px" class="cls_007"><span class="cls_007">May 2011 - May 2012</span></div>
<div style="position:absolute;left:144.00px;top:621.00px" class="cls_008"><span class="cls_008">Acted as a liaison between the society and companies in the community, software event hosts,</span></div>
<div style="position:absolute;left:144.00px;top:631.00px" class="cls_008"><span class="cls_008">and other societies to coordinate the CCSS’ own events and be involved in the community.</span></div>
<div style="position:absolute;left:76.75px;top:653.00px" class="cls_002"><span class="cls_002">SKILLS</span></div>
<div style="position:absolute;left:144.00px;top:654.00px" class="cls_006"><span class="cls_006">TECHNICAL</span></div>
<div style="position:absolute;left:144.00px;top:662.00px" class="cls_008"><span class="cls_008">• Operating Systems: Mac OS X, Unix/Linux, Microsoft Windows</span></div>
<div style="position:absolute;left:144.00px;top:675.00px" class="cls_008"><span class="cls_008">• Software: Git, Perforce, Eclipse, Xcode</span></div>
<div style="position:absolute;left:144.00px;top:688.00px" class="cls_008"><span class="cls_008">• Programming Languages: Java, C, C++, Ruby</span></div>
<div style="position:absolute;left:144.00px;top:701.00px" class="cls_008"><span class="cls_008">• Web Development (Front-end): HTML5, CSS3, JavaScript, XML</span></div>
<div style="position:absolute;left:144.00px;top:714.00px" class="cls_008"><span class="cls_008">• Web Development (Back-end): PHP, Jekyll, Node</span></div>
<div style="position:absolute;left:237.67px;top:741.00px" class="cls_004"><span class="cls_004">3480 MCCARTHY RD   OTTAWA, ONTARIO K1V9A1</span></div>
<div style="position:absolute;left:280.97px;top:749.00px" class="cls_009"><span class="cls_009">MAGINGRAS,COM</span></div>
</div>

</body>
</html>
