<!--BEGIN Navbar -->
<nav id="navbars" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="wrapper">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" class="logo" alt="logo">{{site.name}}</a>
      </div>

      <div id="navbar" class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/#home-slide">HOME</a>
          </li>
          <li>
            <a href="/#howto">ME</a>
          </li>
          <li>
            <a href="/#portfolio">PORTFOLIO</a>
          </li>
          <li>
            <a href="/#about">ABOUT</a>
          </li>
          <li>
            <a href="/#contact">CONTACT</a>
          </li>
          <li>
            <a href="/blog">BLOG</a>
          </li>
          <li>
            <a href="/projects">PROJECTS</a>
          </li>
                <!-- <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">STUFF <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/pictures">Pictures</a></li>
                    </ul>
                  </li> -->
                  <!-- <li> -->
                  <!-- <a class="nav-spacer"></a> -->
                  <!-- </li> -->
                  <li>
                    <div class='row' style='margin:14px;color:black;text-align:center;'>
                      <div class='col-xs-3' style='padding-left:10px;'>
                        <a href="http://github.com/mgingras" target="_blank"><i class="icon-github"></i></a>
                      </div>
                      <div class='col-xs-3'>
                        <a href="http://twitter.com/martin_gingras" target="_blank"><i class="icon-twitter"></i></a>
                      </div>
                      <div class='col-xs-3'>
                        <a href="https://www.linkedin.com/in/martinpgingras" target="_blank"><i class="icon-linkedin"></i></a>
                      </div>
                      <div class='col-xs-3'>
                        <a href="mailto:martin@mgingras.ca?Subject=mgingras.ca"><i class="icon-envelope"></i></a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /wrapper -->
          </nav>
<!-- END Navbar
