<div style="width:220px;height:180px;float:left;overflow:auto;padding-right:10px;">
  <h1>Martin Gingras</h1>
  <p>3480 McCarthy Rd.<br>Ottawa ON.<br>K1V 0G2</p>
</div>
<div style="width:600px;height:180px;float:right;">
  <a href="mailto:martin@mgingras.ca?Subject=Martin Gingras' Resume" title="Email Me!"><i class="icon-envelope-alt icon-large"></i>&nbsp;martin@mgingras.ca</a> 
  <a style="float:right" href="http://github.com/mgingras/"><i class="icon-github icon-large"></i>&nbsp;github.com/mgingras/</a><br>
  <a href="tel:+16138502565"><i class="icon-phone-sign icon-large"></i>&nbsp;613.850.2565</a>
  <a style="float:right" href="http://www.linkedin.com/in/martinpgingras"><i class="icon-linkedin-sign icon-large"></i>&nbsp;linkedin.com/in/martinpgingras</a>
</div>
<h2>EDUCATION</h2>

<div style="height:90px;">
  <div style=" witdth:90%;float:left;">
    <p>Honors Computer Science: Law Stream, Co-op Option<br>
      Carleton University, Ottawa, ON<br>
      Currently in good standing, Graduating 2015<br>
    </p>
  </div>
  <div style="width:10%;float:right;">
    <p>2010 - Present</p>
  </div>
</div>
<!-- <h2>AVAILABILITY</h2>

<p>Available for 4 - 8 month beginning January 2013</p> -->

<h2>SKILLS AND ABILITIES</h2>

<h3>TECHNICAL SKILLS:</h3>
<p>
  <ul>
    <li>Proficient using multiple operating systems including Windows and Mac OsX</li>
    <li>Worked with Windows operating system growing up before switching to Mac OsX for University. Since then have occasionally used Linux command line.</li>
    <li>Experienced with both object oriented and procedural programming; in particular Java using the Eclipse IDE and C using a Vim editor in a terminal emulator</li>
    <li>Quick at learning new languages and becoming accustomed to new workspaces</li>
  </ul>
</p>
<h3>COMMUNICATION SKILLS</h3>
<p>
  <ul>
    <li>Analyzed legal cases and prepared clear and concise case briefs</li>
    <li>Formulated and defended arguments concerning historic political philosophy as well as modern politics</li>
    <li>At IBM communicated with clients on a daily basis, often having to guide them through complicated procedures orally.</li>
    <li>Fluent in English and French</li>
  </ul>
</p>

<h3>LEADERSHIP SKILLS</h3>
<p>
  <ul>
    <li>Comfortable at both working alone and as part of a team to ensure that no matter what the job is, it is done in time and to the required caliber</li>
    <li>Assumed the role of a member of a party founding a nation during second year in, Law the State and the Constitution, for part of the term, then later emerging as a leader for the latter part of the term</li>
    <li>Remains calm in tense situations and is prepared to aid in directing others to achieving their goals</li>
    <li>Seized and maintained control of a large number of people in both rescue situations and instructing lessons</li>
  </ul>
</p>

<h2>WORK EXPERIENCE</h2>
<div style="height:90px;">
  <div style=" witdth:80%;float:left;">
    <p>Wireless Data Application Developer<br>
      BlackBerry<br>
      Ottawa, ON
    </p>
  </div>
  <div style="width:20%;float:right;">
    <p>January - Present, 2013</p>
  </div>
</div>

<div style="height:90px;">
  <div style=" witdth:80%;float:left;">
    <p>Business Intelligence Technical Analyst<br>
      IBM Canada<br>
      Ottawa, ON
    </p>
  </div>
  <div style="width:20%;float:right;">
    <p>May - December, 2012</p>
  </div>
</div>
  
<div style="height:90px;">
  <div style=" witdth:80%;float:left;">
    <p>Full-time Lifeguard and Swimming Instructor<br>
      Beechwood Park Homes Association<br>
      Waterloo, ON
    </p>     
  </div>
  <div style="width:20%;float:right;">
    <p>May - September, 2011</p>
  </div>
</div>
  
<div style="height:90px;">
  <div style=" witdth:80%;float:left;">
    <p>Part-time Lifeguard and Swimming Instructor<br>
      Beechwood II Homes Association<br>
      Waterloo, ON
    </p>
  </div>
  <div style="width:20%;float:right;">
    <p>May - September, 2010, 2011</p>
  </div>
</div>
  
<div style="height:90px;">
  <div style=" witdth:80%;float:left;">
    <p>Part-time Lifeguard and Swimming/Tennis Instructor<br>
      Beechwood West II Homes Association<br>
      Waterloo, ON
    </p>
  </div>
  <div style="width:20%;float:right;">
    <p>May - September, 2010</p>
  </div>
</div>
  
<div style="height:90px;">
  <div style=" witdth:80%;float:left;">
    <p>Office Help<br>
      Iain A. Thomson and Associates<br>
      Waterloo, ON
    </p>
  </div>
  <div style="width:20%;float:right;">
    <p>October 2009 - December 2009</p>
  </div>
</div>

<h2>Activities and Interests</h2>

<div style="height:70px;">
  <div style=" width:80%;float:left;">
    <p>Carleton University Students' Association<br>
      -- Councillor - Representative for Computer Science
    </p>
  </div>
  <div style="width:20%;float:right;">
    <p><br>Feburary 2013 - Present</p>
  </div>
</div>

<div style="height:70px;">
  <div style=" witdth:80%;float:left;">
    <p>Carleton Computer Science Society (CCSS)<br>
      -- Director of External
    </p>
  </div>
  <div style="width:20%;float:right;">
    <p>2010 - Present<br>
      2012 Acedemic Year
    </p>
  </div>
</div>

<h3>Interests Include:</h3>
<p>Running, Technology, Current Events, Tennis, Law, Swimming, Snowboarding, Skiing, and Music</p>