<!DOCTYPE html>
<html>
{% include head.html %}
<body data-spy="scroll" data-target="#navbar">
<div id="lazyload"></div>
  {% include navbar.html %}
  {{ content }}
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/lib/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/lib/smoothscroll.js"></script>
  <script src="js/lib/jquery.superslides.min.js"></script>
  <script src="js/lib/jquery.sudoslider.min.js"></script>
  <script src="js/lib/jquery.isotope.min.js"></script>
  <script src="js/lib/jquery.magnific-popup.min.js"></script>
  <script src="js/lib/jquery.parallax.js"></script>
  <script src="js/lib/jquery.simple-text-rotator.min.js"></script>
  <script src="js/lib/jquery.inview.min.js"></script>
  <script src="js/lib/jquery.mixitup.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
